.bg-image {
    position: relative;
    background-size: cover;
    height: 900px !important;
}

.bg-image:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
}

:root {
    --circleRotate: 0;
    --circleRotateMax: 180deg;
    --musicTime: 0s;
    --musicSecondColor: green;
    --musicColor: white;
}

.audio-container {
    width: 500px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, white, var(--musicSecondColor));
    border-radius: 8%;
    font-family: 'Fondamento', cursive;
}

.circle-wrap {
    width: 500px;
    display: flex;
    position: relative;
    height: 500px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid var(--musicColor);
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 500px, 500px, 250px);
}

.circle-wrap .inside-circle {
    width: 490px;
    height: 490px;
    background-repeat: no-repeat !important;
    border-radius: 50%;
    background: #9b03ac;
    background-image: url(adele.jpg);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    /* This is a shorthand of
                                 translateX(-50%) and translateY(-50%) */
    z-index: 30 !important;
}

.fa-play,
.fa-pause {
    position: absolute;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    /* This is a shorthand of
                                 translateX(-50%) and translateY(-50%) */
    font-size: 40px;
    color: var(--musicColor);
    cursor: pointer;
}

.button-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 300;
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    transition: 1s;
    opacity: 0;
    margin-bottom: auto;
    text-align: center;
}

.button-circle:hover {
    opacity: 1 !important;
}   

.mask .fill {
    /* nefe chap*/
    clip: rect(0px, 250px, 500px, 0px);
    background-color: var(--musicColor);
}

.mask.full,
.circle .fill {
    animation: fill linear var(--musicTime);
    animation-play-state: paused;
    /* bad payan animation in halat ro hefz kone */
    transform: rotate(var(--circleRotateMax));
}

@keyframes fill {
    0% {
        transform: rotate(var(--circleRotate));
    }

    100% {
        transform: rotate(var(--circleRotateMax));
    }
}

.running {
    animation-play-state: running !important;
}

.infoContainer {
    width: 200px;
    height: auto;
    z-index: 300;
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    transition: 1s;
    opacity: 1;
    display: flex;
    text-align: center;
}

.infoContainer section {
    width: 50%;
    font-size: 20px
}

.inputCont {
    width: 200px;
    height: auto;
    z-index: 300;
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    transition: 1s;
    opacity: 1;
    display: flex;
    text-align: center;
}

input[type="range"] {
    width: 200px;
    z-index: 300;
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
}

.titleCont {
    width: 200px;
    height: auto;
    z-index: 300;
    backdrop-filter: blur(5px);
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    transition: 1s;
    opacity: 1;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
}

#TitleShown {

    text-align: center;
    font-size: 20px;
}